body{
    background-color: aquamarine;
    background-size: cover;
    background-image: url(images/City_Landscape_Background.png);
    background-repeat: no-repeat;
}

.container{
    margin-right: auto;
    margin-left: auto;
    width: 960px;
}


header{
    height: 118px;
    text-align: center;
    font-family: 'Georgia', Arial, Helvetica, sans-serif, monospace;
    font-size: 20px;
    border: 1px black solid;
    background-color: rgba(53, 6, 6, 0.211);
    color: rgb(255, 253, 253);
}

header h1{
    text-align: center;
}

nav{
    text-align: center;
    background-color: rgba(195, 195, 215, 0.311);
    padding-top: 14px;
    color: wheat
}

nav a{
    text-decoration: none;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    height: 20PX;
    color: rgb(16, 2, 2);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


main{
    background-color:rgba(53, 45, 45, 0.25);
    height: 400px;
    text-align: center;
    padding-top: 20px;
    padding-left: 240px;
    padding-right: 240px;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

section{
    background-color: rgba(0, 0, 0, 0.464);
    text-align: center;
    height: 180px;
}

form{
  padding-top: 20px;
  padding-bottom: 20px;
}

footer{
    background-color: rgba(58, 66, 58, 0.27);
    height: 30px;
    padding-top: 5px;
    text-align: center;
    color: #ffffff;
    font-size: 10px;
}

img{
    text-align: left;
    height: 60px;
    ;
}

.a{
    background-color: #ebeaea;
    text-decoration: dotted;
    text-transform: capitalize;
}